//keywords
.k {
  color: $Cyan;
}

//Constant keywords
.kc {
  color: $Cyan;
}

//Variable declarations (var)
.kd {
  color: $Cyan;
}

//Namespace declarations
.kn {

}

//Psuedo keywords
.kp {
  color: $Cyan;
}

//Reserved (end)
.kr {
  color: $Cyan;

}

//Type keywords (int)
.kt {
  color: $Cyan;

}