---
const pageTitle = "Blog!";
import BaseLayout from '../layouts/BaseLayout.astro';
import PostPreview from '../components/PostPreview.astro';
const allPosts = await Astro.glob('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()).slice(0, 10);
---
<BaseLayout pageTitle={pageTitle}>
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-5xl font-bold text-gray-900 dark:text-white text-center">{pageTitle}</h1>
    <p class="mt-4 text-xl text-gray-500 dark:text-gray-400 text-center">This is where I will post about my journey learning Astro.</p>
    <div class="mt-12 space-y-12">
      {sortedPosts.map(post => <PostPreview post={post} />)}
    </div>
  </div>
</BaseLayout>
