---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Projects";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { siteConfig } from "../config";
import "../styles/global.css";
---
<BaseLayout pageTitle={pageTitle}>
<a href="https://www.dccoder.com/dengine/index.html" target="_blank" rel="noopener noreferrer">dEngine</a>
</BaseLayout>