---
const { page } = Astro.props;
---
<div class="flex justify-between mt-12">
  <div>
    {page.url.prev && <a href={page.url.prev} class="text-lg font-medium text-gray-900 dark:text-neutral-100 hover:text-blue-600 dark:hover:text-blue-400">← Previous</a>}
  </div>
  <div>
    {page.url.next && <a href={page.url.next} class="text-lg font-medium text-gray-900 dark:text-neutral-100 hover:text-blue-600 dark:hover:text-blue-400">Next →</a>}
  </div>
</div>
